*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{

    min-height: 100vh;
    background-color: white;
    margin-left: 0; 
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background-color: #ff5733;
    padding: 5px 20px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
ul
{
    display: flex;
    gap: 2rem;
    padding-left: 0;
    list-style: none;
}


.menues
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 50px;
    width: 750px;
    height: 450px;
    margin-top: 15px;
    
    
}
.Contenido
{
    height: 0;
}   
article
{
    flex-grow: 1;
    background-color: aqua;
    width: 100%;
}

.menues>span
{
    align-content: center;
}

.btn
{
    border-radius: 40px;
    border: none;
    
    gap: .5rem;
    height: 170px;
}
#Precio
{
    color: orange;
    
}
img
{
    height: 80px;
    border-radius: 30px;
    width: auto; 
}
aside
{
    float: right;/*trasladamos nuestro elemento al lado izquierdo de la pantalla*/
    width: 410px;
    height: 800px;
    margin-top: 50px;
    margin-left: 10px;
    background-color: burlywood;
    padding: 50px;
    margin-right: 50px;
    overflow: auto;

}
aside>section
{
    border: 2px solid red;
    overflow: auto;

}
aside>label
{
    align-items: center;
}
aside>img
{
    height: 45px;
}
button
{
    cursor: pointer;
}